/************ Banner Css ************/
button {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }
.center-container{
    display: flex
}
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #818181;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #818181;
    font-weight: 700;
    font-size: 20px;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  .banner img{
    width: 100%;
  }