body {
    font-family: Microsoft JhengHei UI;
}
img.self {
    width: 80%;
    height: auto;
    margin-top: 5%;
}
menu ul li {
    display: inline;
    padding: 2% 2%;
}
menu ul li a {
    color: gray;
    text-decoration: none;
    font-size: 1.5vw;
}
contents content {
    display: inline;
    padding: 2%;
}
contents {
    height: auto;
    width: 80%;
    display: flex;
    padding-left: 8%;
}
a {
    color: black;
}
subtitle {
    color: rgb(77, 76, 76);
    font-size: small;
}
